<h2>Zeszyty wydane w serii</h2>
{{$panel}}
{{if $paperindex}}
<table class="kluby-lista jaskinie-lista">
<tr>
    <th>Lp.</th>
    <th>&nbsp;</th>
    <th>Tytuł</th>
    <th>Data publikacji</th>
    <th>Autorzy</th>
    <th>&nbsp;</th>
</tr>
{{foreach from=$paperindex item=i}}
    <tr>
        <td>{{$i@iteration + $br->browser_params["offset"]}}.</td>
        <td>{{if $i.pdf_thumbnail}}<a href="/{{$i.id}}"><img src="/{{$i.id}}.jpg" style="width: 125px;"/></a>{{/if}}</td>
        <td><a href="/{{$i.id}}">{{$i.title|escape:'html'}}</a></td>
        <td>{{if $i.date == "0000-00-00"}}&nbsp;{{else}}{{$i.date|escape:'html'}}{{/if}}</td>
        <td>{{$i.authors|escape:'html'}}</td>
        <td><a href="{{$i.art_path}}"><img src="/img/pdf.jpg" alt="Pobierz PDF" /></a></td>
    </tr>
{{/foreach}}
</table>
{{else}}
<p>
    <i>Brak zeszytów w serii.</i>
</p>
{{/if}}
