{{function name="prop"}}
    {{if $v && $v != "0000-00-00"}}
    <p>{{$k}}: <b>{{$v|escape:'html'}}</b></p>
    {{/if}}
{{/function}}

<table class="table-top">
    <tr>
        <td>
            {{if $paperback.pdf_thumbnail}}
            <img src="/{{$paperback.id}}.jpg"/>
            {{/if}}
        </td>
        <td>
            {{prop k="Autorzy" v=$paperback.authors}}
            {{prop k="Data publikacji" v=$paperback.date}}
            <a class="pdf" href="{{$paperback.path}}">Pobierz PDF</a></td>
    </tr>
</table>

<div class="paperback-lead">
    {{$paperback.lead|escape:'html'}}
</div>

{{if $paperback.index}}
<table class="kluby-lista taternik-pismo">
<tr>
    <th>Lp.</th>
    <th>Autorzy</th>
    <th>Tytuł</th>
    <th>Strony</th>
</tr>
{{foreach from=$paperback.index item=i}}
    <tr>
        <td>{{$i@iteration}}.</td>
        <td>{{$i.authors|escape:'html'}}</td>
        <td>{{$i.title|escape:'html'}}</td>
        <td>{{$i.pages|escape:'html'}}</td>
    </tr>
{{/foreach}}
</table>
{{/if}}

<a href="{{$paperback.path}}">&raquo; Pobierz PDF</a>
