<h2 class="ngl-h2">{{if $pub.B}}{{$data.name}} {{$data.surname}}
{{elseif $data.login}}{{$data.login}}
{{else}}Użytkownik {{$data.id}}
{{/if}}</h2>
<input type="hidden" name="usid" value="{{$data.id}}">

<table class="table-profil">
    <tr>
        <td>
            <a href="{{if $photo}}/{{$photo}}{{else}}/img/zaslepka_profil.gif{{/if}}" target="_blank"><img style="max-width: 130px;" src="/{{if $photo}}{{$photo}}{{else}}img/zaslepka_profil.gif{{/if}}"></a>
        </td>
        <td>
            {{foreach from=$entitlements item=i key=k}}
            {{if $i.public}}
            <strong>{{$i.name}}</strong><br/>
            <b>Licencja: </b>{{if $i.number}}{{$i.number}}{{/if}} {{if $i.status}}<strong>AKTUALNA</strong>{{if $i.due}} do {{$i.due}}{{else}} (BEZTERMINOWO){{/if}}{{else}}<strong>NIEAKTUALNA</strong>{{/if}}
            <br/>
            {{/if}}
            {{/foreach}}
            {{foreach from=$memberships item=i key=k}}
            {{if $i.status}}
            <strong>Klub: </strong> {{$i.short|escape:'html'}}<br/>
            {{/if}}
            {{/foreach}}
        </td>
</table>

{{$data.about}}

<ul class="profil-list">
    {{function name="cd"}}
    {{if $data.$f}}
    <li><strong>{{$descr}}: </strong> {{$data.$f|escape:'html'}}</li>
    {{/if}}
    {{/function}}
    {{if $pub.M}}
    {{cd f="email" descr="E-mail"}}
    {{cd f="skype" descr="Skype"}}
    {{cd f="www" descr="WWW"}}
    {{/if}}
    {{if $pub.T}}
    {{cd f="phone" descr="Telefon"}}
    {{/if}}
</ul>





        {{*
{{if $memberships}}
<h3>Uprawnienia PZA</h3>
{{include file="insider/user_entitlements.html"}}
{{/if}}
{{if $entitlements}}
<h3>Członkostwo w klubach PZA</h3>
{{include file="insider/user_memberships.html"}}
{{/if}}
*}}