<div class="source-domain">
    <input type="hidden" class="dialog-title" value="Kod HTML">
    <input type="hidden" name="source" value="{{$source|escape:'html'}}">
    <input type="hidden" name="params" value="{{$params|escape:'html'}}">
    <form>
    <input type="hidden" name="id" value="{{$data.id}}">
    <div class="table-edit table-form">
        <div>
            <textarea rows=30 cols=50 style="width: 100%; height: 100%;" name="content">{{$data.content|escape:'html'}}</textarea>
        </div>
    </div>
    </form>
</div>
