{{extends "insider/action.html"}}
{{block name="body"}}
<h2>Witamy wewnątrz PZA!</h2>
<form action="/insider/checkin" method="POST">
<div class="table-form checkin-form">
    <div>
        <p>
            Wprowadź poniżej swoją nazwę użytkownika i hasło lub
            <a href="/insider/checkin/register">kliknij, aby się zarejestrować</a>
        </p>
    </div>
    {{include file="insider/field.html" i=[name => "Nazwa użytkownika"] k="login" data=["login" => $request.login] nofit=1 size=15}}
    {{include file="insider/field.html" i=[name => "Hasło", "type" => "password"] k="password" nofit=1 size=15}}
    <div>
        <p>
            <small>
                Nie pamiętasz...?
                <a href="/insider/checkin/recover">Procedura odzyskiwania hasła.</a>
            </small>
        </p>
    </div>
    <div>
        <input type="submit" value="Zaloguj się">
    </div>
</div>
</form>
{{/block}}
