<div class="login-panel">
  <h2>Logowanie do Systemu</h2>
  <form action="/insider/checkin?url={{$url}}" method="post">
    {{include file="insider/field.html" i=[name => "Nazwa użytkownika"] k="login" data=["login" => $request.login] nofit=1 size=15}}
    {{include file="insider/field.html" i=[name => "Hasło", "type" => "password"] k="password" nofit=1 size=15}}

    <div class="form-btns">
      <input type="submit" class="btn" value="Zaloguj się">
    </div>
    <a href="/insider/checkin/recover?url={{$url}}">Nie pamiętam hasła</a>
  </form>
  <br /><h2>Nie posiadasz konta?</h2>
  <div class="form-btns">
    <a href="/insider/checkin/register?url={{$url}}" class="btn">Zarejestruj się</a>
  </div>
</div>
<div class="register-panel">
  <h2>Zarządzanie stroną WWW</h2>
  <a href="http://pza.org.pl/wp-login.php">Kliknij by przejść do strony logowania</a>
</div>
