{{extends "insider/action.html"}}

{{block name="header"}}{{/block}}

{{block name="body"}}
<h1 class="login-header">Witamy wewnątrz PZA!</h1>
{{if $subtitle}}
<h2 class="login-header">{{$subtitle}}</h2>
{{/if}}
{{if $description}}
<h3 class="login-header">{{$description}}</h3>
{{/if}}
<section class="gray-panel">

  <div class="login-center">
    {{if $subtitle}}
    {{include file="insider/login_creator.html"}}
    {{else}}
      {{include file="insider/login_default.html"}}
    {{/if}}
  </div>
  
</section>
        <a href="http://pza.org.pl">Powrót na www.pza.org.pl</a>

<script type="text/javascript">
$('[name="login"]').trigger('focus').select();
if ($('input.err').length) {
  $('input.err').first().trigger('focus');
}
</script>
{{/block}}
