{{extends "insider/action.html"}}

{{block name="header"}}{{/block}}

{{block name="body"}}
<h1 class="login-header">Witamy wewnątrz PZA!</h1>

<section class="gray-panel">

  <div class="login-center">
    <div class="login-panel">
      <h2>Logowanie do Systemu</h2>
    <form action="/insider/checkin" method="post">
      {{include file="insider/field.html" i=[name => "Nazwa użytkownika"] k="login" data=["login" => $request.login] nofit=1 size=15}}
      {{include file="insider/field.html" i=[name => "Hasło", "type" => "password"] k="password" nofit=1 size=15}}
      
      <a href="/insider/checkin/recover">Nie pamiętam hasła</a>
      
      <div class="form-btns">
        <input type="submit" class="btn" value="Zaloguj się">
      </div>
    </form>
      <br /><h2>Nie posiadasz konta?</h2>
      <div class="form-btns">
        <a href="/insider/checkin/register" class="btn">Zarejestruj się</a>
      </div>
    </div> 
    <div class="register-panel">
      <h2>Zarządzanie stroną WWW</h2>
      <form action="http://pza.org.pl/wp-login.php" method="post">
        {{include file="insider/field.html" i=[name => "Nazwa użytkownika"] k="log" data=["login" => $request.login] nofit=1 size=15}}
        {{include file="insider/field.html" i=[name => "Hasło", "type" => "password"] k="pwd" nofit=1 size=15}}
        <input type="hidden" name="redirect_to" value="http://press.pza.org.pl/wp-admin/">
        <input type="hidden" name="testcookie" value="1">
        <a href="http://press.pza.org.pl/wp-login.php?action=lostpassword">Nie pamiętam hasła</a>

        <div class="form-btns">
          <input type="submit" class="btn" value="Zaloguj się">
        </div>
      </form>
    </div>
  </div>
  
</section>
        <a href="http://pza.org.pl">Powrót na www.pza.org.pl</a>

<script type="text/javascript">
$('[name="login"]').trigger('focus').select();
if ($('input.err').length) {
  $('input.err').first().trigger('focus');
}
</script>
{{/block}}
