{{extends "insider/action.html"}}
{{block name="head" append}}
<script language="JavaScript" src="/js/insider_rank.js"></script>
{{/block}}
{{block name="content"}}
<h2>Sytuacja w rankingu</h2>
    <div id="rank_selector">
        Ranking:
        {{html_options name="selector" options=$ranks selected=$request.id}}
    </div>
        <table class="table-table">
            <tr>
                <th>Miejsce</th>
                <th>Osoba</th>
                <th>Punkty</th>
                {{foreach from=$events item=ei key=ek}}
                <th>
                    {{$ei.event_city}}<br>
                    {{$ei.event_date}}
                </th>
                {{/foreach}}
            </tr>

{{foreach from=$results item=i key=k}}
        <tr>
            <td>{{$i.position}}</td>
            <td>{{$i.user_name|escape:'html'}}</td>
            <td>{{$i.points}}</td>
            {{foreach from=$events item=ei key=ek}}
            <td>
                {{if $i.scores.$ek.points}}
                {{$i.scores.$ek.points|round}}
                {{/if}}
            </td>
            {{/foreach}}
        </tr>
{{/foreach}}
        </table>
{{/block}}
