{{extends "insider/action.html"}}

{{block name="header"}}
  <div class="header-links"><a href="/insider/checkin">Logowanie</a></div>
{{/block}}

{{block name="body"}}

<h1 class="register-header">Zarejestruj się wewnątrz PZA</h1>
{{if $subtitle}}
<h2 class="login-header">{{$subtitle}}</h2>
{{/if}}
{{*{{if $description}}
<h3 class="login-header">{{$description}}</h3>
{{/if}}*}}
{{strip}}
<section class="gray-panel">
  
  <div class="register-center">
    <form action="/insider/checkin/register?url={{$url}}&subtitle={{$subtitle}}&description={{$description}}" data-helper="/insider/checkin/rhelp?url={{$url}}&subtitle={{$subtitle}}&description={{$description}}" method="post">
      
      {{if $err}}
      <div class="notification error">
        <h3>Błędnie wypełniony formularz rejestracji!</h3>
        <p>
          Twoje konto <u>nie zostało</u> jeszcze założone. Zapoznaj się z komunikatami o błędach poniżej, popraw wprowadzone informacje i spróbuj ponownie.
        </p>      
      </div>
      {{/if}}
      
      
      <div class="fields-section">
        <h2>Twoje konto</h2>
        
        <span class="notification desc">
          <p>Wprowadź poniżej swoje imię i nazwisko, adres e-mail oraz wybraną przez siebie nazwę użytkownika (dozwolone są litery, cyfry, podkreślnik, kropka - prosimy bez polskich liter i odstępów!).</p>
        </span>
        
        {{foreach from=$u->fields item=i key=k}}
          {{if $k == "birthdate"}}
          <span class="notification desc">
              <p>Potrzebujemy Twojej daty urodzenia, żeby sprawdzić, czy przypadkiem nie jesteś zarejestrowany już w naszej bazie.</p>
          </span>
          {{/if}}
          {{if $k == "phone"}}
          <span class="notification desc">
              <p>Numer telefonu komórkowego jest niezbędny, aby odzyskać hasło w razie jego zapomnienia.</p>
          </span>
          {{/if}}

          {{if !$i.noregister}}
            {{include file="insider/field.html" nofit=1}}
          {{/if}}

          {{if $k == "email"}}
            {{if $pw_suggestion}}
              <span class="notification desc">{{include file="insider/passwd_info.html"}}</span>
            {{/if}}
            
            {{include file="insider/field.html" i=[name => "Hasło", "type" => "password"] k="pw1" nofit=1 size=15}}
            {{include file="insider/field.html" i=[name => "Potwierdzenie", "type" => "password"] k="pw2" nofit=1 size=15}}
            
            <span class="notification desc">
              <p>Wybierz swój klub macierzysty. Jeśli nie jesteś zrzeszony w żadnym z wymienionych klubów, pozostaw brak wyboru.</p>
              <p>Opcjonalnie, możesz podać datę, od kiedy należysz do klubu (w formacie RRRR-MM-DD).</p>
              <p><strong>Uwaga:</strong> Możliwość korzystania z opcji systemu dostępnych tylko dla członków klubów PZA otrzymasz dopiero po potwierdzeniu Twojego członkostwa w klubie przez administratora klubowego.</p>
            </span>
            
            {{include file="insider/field.html" nofit=1 i=["name" => "Klub", "type" => "select", "options" => $member_list] k="member"}}
            {{include file="insider/field.html" nofit=1 i=["name" => "Członkostwo od", "type" => "date"] k="member_from"}}
            <br/><br/>
            {{include file="insider/field.html" nofit=1 i=["name" => "Zgoda na przetwarzanie danych osobowych", "type" => "flags",
                "options" => [
                  '1' => 'Wyrażam zgodę na przetwarzanie powyżej wskazanych danych osobowych w celu obsługi mojego uczestnictwa w rywalizacji sportowej w sportach reprezentowanych przez PZA oraz w celu ewidencji uprawnień instruktorskich, trenerskich i podobnych nadanych przez PZA. Dane będą przetwarzane przez Polski Związek Alpinizmu z siedzibą przy ul. Mokotowska 24 lok. 62, 00-561 Warszawa i nie będą udostępniane podmiotom trzecim bez odrębnej zgody.'
                ]
            ] k="znpdo"}}
            <!--<span class="notification desc">-->
              <p></p>
            </span>
            
          </div>
          <div class="fields-section">
            <h2>Twoje dane</h2>
            
            <span class="notification desc">
              <p>Wszystkie poniższe pola formularza rejestracji są opcjonalne. Nie musisz ich wypełniać, aby uzyskać dostęp do systemu PZA. Pamiętaj jednak, że wypełnienie niektórych z nich będzie konieczne do skorzystania z wybranych opcji systemu np. rejestracji na zawody wspinaczkowe lub ski-tourowe, bądź też złożenia wniosku o dofinansowanie.</p>
            </span>
          
          {{/if}}
        {{/foreach}}
      
      </div>
      
      <div class="form-btns">
        <input type="submit" value="Zarejestruj się!" class="btn">
      </div>
    
    </form>
    
  </div>
{{/strip}}
</section>

<script type="text/javascript">
$("input[name=name]").on("change", function (event) {
  var s = $(this).val();
  $("select[name=sex]").val((s.toLowerCase().charAt(s.length - 1) == "a") ? "K" : "M");
});
</script>
{{/block}}
