{{extends "insider/action.html"}}


{{block name="head" append}}
  <script language="JavaScript" src="/js/insider_table.js"></script>
{{/block}}

{{block name="content"}}
  <div class="table-container source-domain">
    {{include file="insider/table_menu.html"}}
    
    {{strip}}
    {{function name="buttons"}}
      <ul class="hmenu {{if $class}}{{$class}}{{/if}}">
        <li><a class="table-action-up action-prev"><span>Poprzednie</span></a></li>
        <li class="float-right"><a class="table-action-dn action-next"><span>Następne</span></a></li>
        
        {{foreach from=$this->buttons item=op key=url}}{{link href=$url p=$op}}{{/foreach}}
      
      </ul>
      
    {{/function}}
    {{/strip}}
    
    
    <input type="hidden" name="source" value="{{$source|escape:'html'}}">
    <input type="hidden" name="params" value="{{$params|escape:'html'}}">
    
    {{buttons}}
    
    <div class="table-dialog"></div>
    <table class="table-table">
      <thead>
        <tr>
          <td><em>Wczytywanie danych...</em></td>
        </tr>
      </thead>
    </table>
    
    {{buttons class="faded"}}
  
  </div>
{{/block}}
