{{if $entitlements}}
<table class="plain">
    <tr>
        <th>Wpis</th>
        <th>Od</th>
        <th>Do</th>
        <th>Op</th>
    </tr>
    {{foreach from=$entitlements item=entitlement key=year}}
        <tr><td colspan="4">
            <span style="font-size:large">--- {{$year}} ---</span>
            Dodaj:
            <a class="dialog-action" href="/insider/entitlements/add?&family=ka:kn&user={{$user}}&open=1">udział w kadrze</a> |
            <a class="dialog-action" href="/insider/entitlements/add?&family=d:pza&selector=53&user={{$user}}">zgoda</a> |
            <a class="dialog-action" href="/insider/entitlements/add?&family=med:j&selector=21&user={{$user}}">badania</a> |
            <a class="dialog-action" href="/insider/entitlements/add?&family=p:pza&selector=54&user={{$user}}">potwierdzenie</a>
        </td></tr>
        {{foreach from=$entitlement item=i key=k}}
        <tr {{if $i.status == 0}}class="inactive"{{/if}}>
        <td>
            {{$i.name|escape:'html'}}
        </td>

        <td>{{if $i.starts == "0000-00-00"}}<i>od zawsze</i>{{else}}{{$i.starts}}{{/if}}</td>
        <td>{{if $i.due == "9999-12-31"}}<i>bezterminowo</i>{{else}}{{$i.due}}{{/if}}</td>

        <td>
            &nbsp;
            {{ifaccess perm="edit(entitlements)"}}
            <a class="dialog-action" href="/insider/entitlements/edit?id={{$i.id}}">Edytuj</a>
            {{if $i.status == 0 && $i.short == 'med:j:zaw'}}
            <a class="dialog-action" href="/insider/entitlements/prolong?id={{$i.id}}">| Przedłuż</a>
            {{/if}}
            {{/ifaccess}}
        </td>
        </tr>
        {{foreachelse}}
        <tr>
            <td colspan=4><i>Brak wpisów</i></td>
        </tr>
        {{/foreach}}
    <tr><td colspan="4">&nbsp;</td></tr>
    {{/foreach}}
</table>
{{else}}
<div>
    <i>Brak</i>
</div>
{{/if}}
