{{extends "insider/table_view.html"}}
{{block name="fields" append}}
{{if !$restricted}}
<div>
    <span>Przynależność</span>
    <span class="fit">
        {{include file="insider/user_memberships.html"}}
    </span>
    <div></div>
</div>

<div>
    <span>Uprawnienia</span>
    <span class="fit">
        {{include file="insider/user_entitlements.html" entitlements=$entitlements.other}}
    </span>
    <div></div>
</div>
<div>
    <span>Badania</span>
    <span class="fit">
        {{include file="insider/user_entitlements.html" entitlements=$entitlements.med}}
    </span>
    <div></div>
</div>
<div>
    <span>Klasy sportowe</span>
    <span class="fit">
        {{include file="insider/user_entitlements.html" entitlements=$entitlements.c}}
    </span>
    <div></div>
</div>
<div>
    <span>Udział w kadrze</span>
    <span class="fit">
        {{include file="insider/user_entitlements.html" entitlements=$entitlements.ka}}
    </span>
    <div></div>
</div>
<div>
    <span>Zgody</span>
    <span class="fit">
        {{include file="insider/user_entitlements.html" entitlements=$entitlements.d}}
    </span>
    <div></div>
</div>
{{/if}}
{{/block}}
